/* Fonts */

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/opensanslight.woff2") format('woff2'),
         url("../fonts/opensanslight.woff") format('woff');
    font-weight: 300;
    font-style: normal;
}

  @font-face {
    font-family: "Open Sans";
    src: url("../fonts/opensans.woff2") format('woff2'),
         url("../fonts/opensans.woff") format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroylight.woff2") format('woff2'),
         url("../fonts/gilroylight.woff") format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroyextrabold.woff2") format('woff2'),
         url("../fonts/gilroyextrabold.woff") format('woff');
    font-weight: 800;
    font-style: normal;
}

/* Variables */

:root {
    --basic-black: #000000;
    --basic-dark: #363636;
    --basic-grey: #464646;
    --basic-half-grey: #7E7E7E;
    --basic-grey-light: #E5E5E5;
    --basic-white: #ffffff;
  
    --special-yellow-dark: #F0C52E;
    --special-yellow-light: #F7E296;
    --special-yellow-footer: #FFC600;
    --special-green: #91C92F;
    --special-grey: #DCDCDC;
    --special-light-grey: #EBEBEB;
    --special-medium-grey: #D9D9D9;

    --transparent-black-15: rgba(0, 0, 0, 0.15);
    --transparent-black-18: rgba(0, 0, 0, 0.18);
    --transparent-black-20: rgba(0, 0, 0, 0.2);
    --transparent-black-30: rgba(0, 0, 0, 0.3);
    --transparent-black-40: rgba(0, 0, 0, 0.4);
    --transparent-black-60: rgba(0, 0, 0, 0.6);
    --transparent-white-30: rgba(255, 255, 255, 0.3);
    --transparent-white-70: rgba(255, 255, 255, 0.7);
    --transparent-yellow-dark-30: rgba(240, 197, 46, 0.3);
    --transparent-yellow-dark-50: rgba(240, 197, 46, 0.5);

    --status-light-pink: #F6DADA;
    --modal-input-grey: #F2F2F2;
    --modal-input-grey-hover: #EAEAEA;
    --range-controls-center: #C4C4C4;
}

:focus {
    outline: 2px solid var(--special-yellow-dark);
    box-sizing: border-box;
}

/* Global */

body {
    min-width: 1160px;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;    
    color: var(--basic-black);
    background-color: var(--basic-white);
}

a {
    text-decoration: none;
    color: var(--basic-black);
}

img {
    max-width: 100%;
    height: auto;
}

/* Grid */

.page {
    height: 100%;
}

.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

/* Container */

.container {
    width: 1120px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

/* Header */

.header {
    position: relative;
    width: 1160px;
    min-height: 186px;
    padding-top: 28px;
    padding-right: 60px;
    padding-left: 60px;
    margin-top: 40px;
    background-color: var(--special-yellow-light);
    box-sizing: border-box;
}

.main-header {
    padding-top: 28px;
    padding-right: 60px;
    padding-bottom: 163px;
    padding-left: 60px;
}

.header-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-navigation ul {
    list-style: none;   
}

.header-logo {
    width: 163px;
    height: 35px;
    position: absolute;
    top: -20px;
    left: 60px;
}

.header-logo-monopods:hover, 
.header-logo-monopods:focus {
    opacity: 0.6;
}

.header-logo-monopods:active {
    opacity: 0.3;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 36px;
    align-items: center;
}

.header-menu ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.header-user-menu-link-exit a {
    color: var(--transparent-black-30);
}

.user-menu li,
.user-menu-monopods li {
    box-sizing: border-box;
}

.user-menu li:nth-child(1) {
    width: 280px;
    padding-left: 24px;
}

.user-menu li:nth-child(2),
.user-menu li:nth-child(3),
.user-menu-monopods li:nth-child(3),
.user-menu-monopods li:nth-child(4) {
  width: 110px;
  padding-left: 27px;
}

.user-menu li:nth-child(3),
.user-menu-monopods li:nth-child(4) {
    text-align: right;
}

.user-menu-monopods li:nth-child(1) {
    width: 173px;
    padding-left: 24px;
}

.user-menu-monopods li:nth-child(2) {
    width: 107px;    
}

.logout {
    color: var(--basic-black);
    opacity: 0.3;
}

.search-form {
    display: flex;
    width: 440px;
    padding-left: 38px;
}

.search-form ::-webkit-input-placeholder {
    color: var(--basic-black);
    opacity: 0.3;
}

.search-form:hover ::-webkit-input-placeholder {
    color: var(--basic-black);
    opacity: 0.6;
}

.search-form ::-moz-placeholder {
    color: var(--basic-black);
    opacity: 0.3;
}

.search-form:hover ::-moz-placeholder {
    color: var(--basic-black);
    opacity: 0.6;
}

.search-form-input {
    position: relative;
    border: 0;
    outline: 0;
    background-color: transparent;
    padding: 0;
    margin: 0;
    width: 320px;
    background-color: transparent;
}

.search-form-input::-webkit-clear-button {
    display: none;
}

.search-form-input ~ .search-form-button {
    text-transform: uppercase;
    background-color: transparent;
    padding: 15px 17px 15px 17px;
    margin: 0;
    border: 2px solid var(--basic-black);
    border-radius: 0;
    box-sizing: border-box;
    opacity: 0;
    z-index: -1;
}

.search-form-input:focus ~ .search-form-button {
    opacity: 1;
    z-index: 0;
}

.search-form-input:focus {
    outline: none;
    border-bottom: 2px solid var(--basic-black);
}

.search-form-button:hover,
.search-form-button:focus {
    color: var(--basic-white);
    background-color: var(--basic-black);
    opacity: 1;
    z-index: 0;
}

.search-form-button:active {
    background-color: var(--basic-black);
    color: var(--transparent-white-30);
}

.header-navigation a:hover, 
.header-navigation a:focus {
    color: var(--basic-black);
    opacity: 0.6;
}

.header-navigation a:active {
    color: var(--basic-black);
    opacity: 0.3;
}

.header-user-menu-link::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
}

.search-form::before {
    content: "";
    position: absolute;
    top: 47px;
    left: 60px;
    width: 16px;
    height: 16px;
    background-image: url(../img/icon-search.svg);
    background-repeat: no-repeat;
}

.header-login::before {
    width: 13px;
    height: 14px;
    top: 48px;
    right: 548px;
    background-image: url(../img/icon-user.svg);
}

.header-logout::before {
    width: 13px;
    height: 14px;
    top: 48px;
    right: 548px;
    background-image: url(../img/icon-user.svg);
}

.header-compare::before {
    width: 14px;
    height: 14px;
    top: 48px;
    right: 266px;
    background-image: url(../img/icon-compare.svg);
}

.header-cart::before {
    width: 10px;
    height: 10px;
    top: 49px;
    right: 132px;
    background-image: url(../img/icon-cart.svg);
}

.header-submenu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
}

.header-catalog {
    width: 540px;
    margin: 0;
    padding: 0;
}

.header-services {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.header-services li {
    box-sizing: border-box;
}

.header-submenu-link {
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 3.6px;
    text-transform: uppercase;
}

.header-services-item-delivery {
    width: 159px;
}

.header-services-item-warranty {
    width: 167px;
}

.header-services-item-contacts {
    width: 180px;
    text-align: right;
    padding: 0;
    margin: 0 -3px 0;
}

.header-item-catalog {
    position: relative;
}

.catalog-link {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 1.8px;
}

.catalog-link::after {
    content: "";
    position: absolute;
    left: 206px;
    width: 22px;
    height: 22px;
    background-image: url(../img/icon-plus.svg);
    background-repeat: no-repeat;
}

.catalog-inner-list {
    position: absolute;
    top: 22px;
    left: -60px;
    z-index: 2;
    display: none;
    width: 1160px;
    padding-top: 26px;
    padding-bottom: 34px;
    padding-left: 60px;
    background-color: var(--special-yellow-light);
    box-sizing: border-box;
}

.catalog-inner-list:hover {
    display: flex;
}

.catalog-link:hover + .catalog-inner-list,
.catalog-link:focus + .catalog-inner-list {
    display: flex;
}

.catalog-inner-list-column {
    margin: 0;
    padding: 0 60px 0 0;
}

.catalog-inner-list-column li:not(:last-child) {
    margin-bottom: 20px;
}

.catalog-inner-list a {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    text-transform: none;
}

/* Main Page Body */

/* Slider */

.slider-slogan {
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
    padding-right: 129px;
    margin: 0;
    margin-bottom: 26px;
}

.slider-description {
    margin: 0;
    margin-bottom: 52px;
    max-width: 478px;
}

.slider-pagination {
    position: absolute;
    display: flex;
    justify-content: space-between;
    right: 68px;
    bottom: 217px;
    width: 72px;
    z-index: 1;
}

.slider-pagination-button {
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 12px;
    height: 12px;
    border: 1px solid var(--basic-black);
    border-radius: 6px;
    padding: 0;
    background-color: var(--basic-white);
}

.slider-pagination-button-active::before {
    content: "";
    position: absolute;
    display: block;
    top: 2px;
    left: 2px;
    width: 6px;
    height: 6px;
    border: 1px solid var(--basic-black);
    border-radius: 3px;
    box-sizing: border-box;
}

.button-details {
    width: 220px;
    margin-bottom: 41px;
}

.main-slider-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.slider-product {
    position: relative;
    display: flex;
    align-items: flex-start;
    z-index: 1;
}

.slider-product-image {
    display: flex;
    width: 50%;
    margin-left: -10px;
}

.slider-product-image img {
    margin: auto;
}

.slider-product-text {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 1;
    width: 50%;
    padding-top: 91px;
    padding-left: 49px;
    margin-bottom: 95px;
}

.slider-product-text::before {
    content: "";
    position: absolute;
    top: 34px;
    left: 51px;
    width: 100px;
    height: 7px;
    background-color: var(--basic-white);
    z-index: -1;
}

.slide-number {
    position: absolute;
    z-index: -1;
    top: -16px;
    right: 6px;  
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 800;
    font-size: 179px;
    line-height: 219px;
    text-transform: uppercase;
    color: var(--basic-white);
}

.main-slider-section {
    position: relative;
    margin-top: -129px;
    margin-bottom: 20px;
}

.main-slider-section ul {
    list-style: none;
}

.slider-table {
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 300;
    text-align: left;
    border-spacing: 0;
}

.slider-table td {
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 3.6px;
    padding-top: 11px;
    padding-bottom: 3px;
    padding-left: 0;
}

.slider-table th {
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 1.3px;
    padding-top: 11px;
}

.table-item-first {
    width: 136px;
    padding-right: 10px;
}

.table-item-second {
    width: 108px;
    padding-right: 17px;
}

.table-item-third {
    width: 147px;
    padding-right: 52px;;
}

/*Slide 1*/

.slider-image-monopod img {
    position: absolute;
    top: -2px;
    left: 48px;
}

.main-slider-slide-1 p {
    margin-top: -1px;
    margin-bottom: 52px;
}

.main-slider-slide-1 .slide-number {
    top: -19px;
    right: 9px; 
}

/*Slide 2*/

.slider-image-watch img {
    position: absolute;
    top: 27px;
    left: 76px;
}

.main-slider-slide-2 p {
    margin-top: -1px;
    margin-bottom: 52px;
}

.main-slider-slide-2 .slide-number {
    top: -18px;
    right: 13px; 
}

.monopod-material {
    padding-left: 4px;
}

/*Slide 3*/

.main-slider-slide-3 h2 {
    width: 495px;
    height: 114px;
    padding: 0;
    margin: 0;
}

.slider-image-drone img {
    position: absolute;
    top: 82px;
    left: -10px;
}

.main-slider-slide-3 p {
    margin-top: 30px;
    margin-bottom: 52px;
}

.slider-table-3 {  
    border-collapse: collapse;
    width: 329px;
}

.main-slider-slide-3 .slide-number {
    top: -18px;
    right: 13px; 
}

/* Popular Product Categories */

.popular-products-section {
    width: 1160px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 84px;
    margin-left: auto;
}

.popular-products-list {
    display: grid;
    grid-template-columns: 160px 160px 160px 160px 160px 160px;
    gap: 40px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.popular-products-item {
    display: block;
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.9px;
    padding: 0;
    margin: 0;
}

.popular-products-item p {
    letter-spacing: 0;
}

.popular-products-background {
    width: 160px;
    height: 160px;
    margin-bottom: 38px;
    background-color: var(--special-yellow-light);
}

.popular-products-background::before {
    content: "";
    display: block;
    width: 160px;
    height: 160px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
}

.popular-vr::before {
    background-image: url("../img/popular-vr.svg");
}

.popular-monopods::before {
    background-image: url("../img/popular-monopods.svg");
    background-position: center 26px;
}

.popular-cameras::before {
    background-image: url("../img/popular-cameras.svg"); 
}

.popular-fitness::before {
    background-image: url("../img/popular-fitness.svg"); 
}

.popular-watches::before {
    background-image: url("../img/popular-watches.svg"); 
}

.popular-drones::before {
    background-image: url("../img//popular-drones.svg");
}

.popular-products-item:hover .popular-products-background,
.popular-products-item:focus .popular-products-background,
.popular-products-item:active .popular-products-background {
    background-color: var(--special-yellow-dark);
}

.popular-products-item:active .popular-products-background::before,
.popular-products-item:active p {
    opacity: 0.3;
}

/* Services Section */

.services-slider {
    padding: 0;
    padding-bottom: 68px;
    margin: 0;
    margin-bottom: 90px;
    background-image: linear-gradient(var(--basic-white) 83px, var(--basic-grey-light) 83px);  
}

.services-slider-wrapper {
    display: flex;
    width: 1160px;
    margin: 0 auto;
}

.list-of-services {
    width: 277px;
    border-right: 7px solid var(--basic-black);
    padding: 80px 0 78px;
    margin: 0;
    margin-top: -16px;
    overflow-x: hidden;
    list-style: none; 
}

.list-of-services li {
    margin-bottom: 21px;
}

.list-of-services li:last-child {
    margin-bottom: 0;
}

.button {
    position: relative;
    display: inline-block;
    vertical-align: baseline;
    z-index: 1;
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 3.6px;
    color: var(--basic-black);
    text-transform: uppercase;
    text-align: center;
    background-color: transparent;
    padding: 9px 0;
    border: none;
}

.button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 8px;
    margin-top: -4px;
    background-color: var(--special-yellow-dark);
    z-index: -1;
}

.button:hover::before,
.button:focus::before {
  height: 100%;
  top: 0;
  margin-top: 0;
}

.button:active {
   color: var(--transparent-black-30);
}

.services-button {
    position: relative;
    min-width: 160px;
}

.services-button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 8px;
    margin-top: -4px;
    background-color: var(--special-yellow-dark);
    z-index: -1;
}

.services-button:hover::before {
    height: 100%;
    top: 0;
    margin-top: 0;
}

.services-button:active::after,
.current-services-button::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 178%;
    height: 40px;
    background-color: var(--basic-black);
    z-index: -1;
}

.services-button:active,
.current-services-button {
    color: var(--special-yellow-light);
}

.button-about-us {
    position: relative;
    min-width: 260px;
}

.services-text {
    position: relative;
    margin: 0;
    padding: 55px 160px 0 116px;
    list-style: none;
}

.services-text-delivery p {
    width: 495px;
}

.services-text-warranty p {
    width: 574px;
}

.services-text-credit p {
    width: 540px;
}

.services-text-delivery::before {
    content: "";
    position: absolute;
    top: 54px;
    right: -103px;
    z-index: 0;
    width: 136px;
    height: 164px;
    background-image: url(../img/delivery.svg);
    background-repeat: no-repeat;
}

.services-text-warranty::before {
    content: "";
    position: absolute;
    top: 36px;
    right: -42px;
    z-index: 0;
    width: 171px;
    height: 195px;
    background-image: url(../img/warranty.svg);
    background-repeat: no-repeat;
}

.services-text-credit::before {
    content: "";
    position: absolute;
    top: 31px;
    right: -52px;
    z-index: 0;
    width: 156px;
    height: 188px;
    background-image: url(../img/credit.svg);
    background-repeat: no-repeat;
}

.services-text ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.services-text h2 {
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
    letter-spacing: 9.4px;
}

.services-text p {
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 1.5px;
}

/* Brands Section */

.brands-section {
    padding: 0;
    margin: 0;
    margin-top: 90px;
    margin-bottom: 86px;
}

.brand-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 40px;
    justify-items: center;
    width: 1160px;
    padding: 0;
    margin: 0 auto;   
    list-style: none;
}

.brand-item img {
    filter: grayscale(100%);
    opacity: 0.2;
}

.brand-item img:hover,
.brand-item-link:focus img {
  filter: grayscale(0);
  opacity: 1;
}

/* Index columns (About us & Contacts)*/

.index-columns {
    display: flex;
    justify-content: space-between;
    max-width: 1160px;
    margin: 0 auto;
    margin-bottom: 77px;
    box-sizing: border-box;
}

.about-us-heading,
.contacts-heading {
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
    letter-spacing: 9.4px;
}

.about-us-section {
    position: relative;
    width: 473px;
    padding-top: 57px;
}

.about-us-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 7px;
    background-color: var(--basic-black);
}

.about-us-item {
    line-height: 28px;
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
}

.about-us-item-last {
    margin-bottom: 60px;
}

.about-us-section p,
.contacts-section p {
    line-height: 28px;
}

.shipping-list {
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 28px;
    padding: 0;
    margin: 0;
    margin-bottom: 68px;
    list-style: none;
}

.shipping-list li {
    padding-left: 32px;
    margin-bottom: 15px;
}

.shipping-list li:last-child {
    margin-bottom: 0;
}

.shipping-list-item:nth-child(1)::before {
    content: "";
    position: absolute;
    bottom: 206px;
    left: -1px;
    width: 8px;
    height: 8px;
    border: 2px solid var(--basic-grey-light);
    border-radius: 50%;
    box-sizing: border-box;
}

.shipping-list-item:nth-child(2)::before {
    content: "";
    position: absolute;
    bottom: 164px;
    left: -1px;
    width: 8px;
    height: 8px;
    border: 2px solid var(--basic-grey-light);
    border-radius: 50%;
    box-sizing: border-box;
}

.shipping-list-item:nth-child(3)::before {
    content: "";
    position: absolute;
    bottom: 118px;
    left: -1px;
    width: 8px;
    height: 8px;
    border: 2px solid var(--basic-grey-light);
    border-radius: 50%;
    box-sizing: border-box;
}

.contacts-section {
    position: relative;
    width: 560px;
    padding: 0;
    padding-top: 57px;
    margin: 0;
}

.contacts-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 7px;
    background-color: var(--basic-black);
}

.map-container {
    display: block;
    margin-bottom: 72px;
}

/* Footer */

.footer {
    display: flex;
    flex-shrink: 0;
    width: 100%;
    color: var(--basic-white);
    background-color: var(--basic-dark);
}

.footer ul {
    list-style: none;
}

.footer-wrapper {
    position: relative;
    width: 1160px;
    min-height: 324px;
    padding: 0;
    margin: 0 auto;
}

.footer-wrapper::before {
    content: "";
    position: absolute;
    top: 239px;
    left: 0;
    width: 80px;
    height: 7px;
    background-color: var(--special-yellow-footer);
}

.footer-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
}

.footer-logo {
    display: block;
    width: 163px;
    height: 35px;
    padding-top: 64px;
}

.footer-logo-monopods img:hover, 
.footer-logo-monopods img:focus {
    opacity: 0.6;
}

.footer-logo-monopods img:active {
    opacity: 0.3;
}

.footer-menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 13px;
    margin: 0;
}

.footer-user-menu li,
.footer-user-menu-monopods li {
    box-sizing: border-box;
}

.footer-user-menu li:nth-child(1) {
    width: 108px;
    padding-left: 24px;
}

.footer-user-menu li:nth-child(2),
.footer-user-menu-monopods li:nth-child(3) {
    width: 135px;
    padding-left: 25px;
}

.footer-user-menu li:nth-child(3),
.footer-user-menu-monopods li:nth-child(4) {
    width: 82px;
    padding-left: 22px;
}

.footer-user-menu-monopods li:nth-child(1) {
    width: 179px;
    padding-left: 26px;
}

.footer-user-menu-monopods li:nth-child(2) {
    width: 84px;
}

.footer-user-menu a,
.footer-user-menu-monopods a {
    color: var(--transparent-white-70);
}

.footer-user-menu a:hover, 
.footer-user-menu a:focus,
.footer-user-menu-monopods a:hover, 
.footer-user-menu-monopods a:focus {
    color: var(--basic-white);
}

.footer-user-menu a:active,
.footer-user-menu-monopods a:active {
    color: var(--transparent-white-30);
}

.footer-user-menu-link::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
}

.footer-login::before {
    width: 13px;
    height: 14px;
    top: 50px;
    right: 312px;
    background-image: url(../img/icon-user-yellow.svg);
}

.footer-logout::before {
    width: 13px;
    height: 14px;
    top: 52px;
    right: 465px;
    background-image: url(../img/icon-user-authorized.svg);
}

.footer-compare::before {
    width: 14px;
    height: 14px;
    top: 51px;
    right: 203px;
    background-image: url(../img/icon-compare-yellow.svg);
}

.footer-cart::before {
    width: 10px;
    height: 10px;
    top: 51px;
    right: 72px;
    background-image: url(../img/icon-cart-yellow.svg);
}

.footer-user-menu-link:hover::before,
.footer-user-menu-link:focus::before {
    opacity: 0.6;
}

.footer-user-menu-link:active::before {
    opacity: 0.3;
}

.footer-submenu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    padding-top: 39px;
    margin: 0;
}

.footer-address {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    line-height: 20px;
    padding: 0;
    margin: 0;
    margin-top: 1px;
}

.footer-services {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-right: 35px;
    box-sizing: border-box;
}

.footer-services-item:not(:last-child) {
    padding: 0;
    margin-right: 33px;
}

.footer-submenu-link {
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    color: var(--basic-white);
}

.footer-submenu-link:hover, 
.footer-submenu-link:focus {
    color: var(--basic-white);
    opacity: 0.6;
}

.footer-submenu-link:active {
    color: var(--basic-white);
    opacity: 0.3;
}

.footer-phone {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    margin-top: 1px;
    color: var(--basic-white);
}

.footer-socials {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 65px;
}

.social-icons {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    padding-top: 67px;
    padding-left: 47px;
    margin: 0 auto;
}

.social-item {
    display: block;
    width: 32px;
    height: 32px;
    margin-right: 20px;
    background-repeat: no-repeat;
    opacity: 0.3;
}

.social-item:hover, 
.social-item:focus {
    opacity: 0.6;
}

.social-item:active {
    opacity: 0.1;
}

.facebook {
    background-image: url("../img/icon-facebook.svg");
}

.instagram {
    background-image: url("../img/icon-instagram.svg");
}

.twitter {
    background-image: url("../img/icon-twitter.svg"); 
}

.htmlacademy-logo {
    width: 27px;
    height: 34px;
    padding: 0;
    margin-top: 66px;
}

.htmlacademy-logo img:hover,
.htmlacademy-logo:focus img {
    opacity: 0.6;
}

.htmlacademy-logo img:active {
    opacity: 0.3;
}

/* Monopods Page Body */

.main-monopods-header {
    padding-left: 40px;
}

.monopods-page-title {
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
    margin-top: 44px;
    margin-bottom: 30px;
}

.breadcrumbs {
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
    list-style: none;
}

.breadcrumbs li {
    position: relative;
    padding: 0;
    padding-right: 40px;
}

.breadcrumbs li:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 5px;
    right: 12px;
    width: 12px;
    height: 12px;
    background-image: url(../img/icon-arrow-nav.svg);
}

.breadcrumbs a,
.breadcrumbs:last-child {
    font-size: 14px;
    line-height: 19px;
    color: var(--basic-black);
    opacity: 0.3;
}

.breadcrumbs a:hover, 
.breadcrumbs a:focus {
    color: var(--basic-black);
    opacity: 0.6;
}

.breadcrumbs a:active {
    color: var(--basic-black);
    opacity: 0.1;
}

/* Catalog */

.catalog-section {
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    position: relative;
}

.catalog-section h2 {
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
}

/* Catalog Filter */

.filter-section {
    position: relative;
    width: 100%;
    width: 268px;
    padding-left: 60px;
    font-size: 14px;
    line-height: 19px;
}

.filter-section::before {
    content: "";
    position: absolute;
    right: 0;
    z-index: -2;
    width: 100vw;
    height: 100%;
    background-image: linear-gradient(var(--special-grey) 70px, var(--basic-grey-light) 70px);
}

.filter-section h2 {
    padding: 25px 0;
    margin: 0;
    margin-bottom: 70px;
}

.filter-form {
    width: 200px;
}

.filter-section fieldset {
    padding: 0;
    border: none;
    margin: 0;
    margin-bottom: 38px;
}

.filter-section legend {
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1.4px;
    border-top: 2px solid var(--basic-black);
    width: 100%;
    margin-bottom: 30px;
    padding-top: 14px;
}

.filter-section ul {
    list-style: none;
    line-height: 19px;   
}

.filter-section .price-filter {
    padding: 0;
    margin: 0;
    margin-bottom: 37px;
}

.filter-item {
    padding: 0;
    margin: 0;
    margin-bottom: 35px;
    border: none;
}

.range-filter {
    width: 200px;
    margin: 0;
}

.range-controls {
    position: relative;
    height: 16px;
    padding-top: 10px;
    background-color: transparent;
}

.range-controls .scale {
    height: 2px;
    background: var(--transparent-black-20);
}

.range-controls .bar {
    width: 100%;
    height: 2px;
    background: var(--special-green);
}

.range-controls .toggle {
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid var(--basic-white);
    background-color: var(--range-controls-center);
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 var(--transparent-black-18);
    cursor: pointer;
}

.range-controls .toggle-min {
    left: -50px;
}
  
.range-controls .toggle-max {
    left: 160px;
}

.price-controls label {
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    padding-right: 19px;
}

.price-controls input {
    max-width: 55px;
    padding: 0;
    margin: 0;
    color: var(--basic-black);
    border: none;
    background: transparent;
    font-family: inherit;
    font-size: inherit;
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

.filter-section .color-filter {
    padding: 0;
    margin: 0;
    margin-bottom: 42px;
}

.color-filter ul {
    padding: 0;
    margin: 0;
}

.filter-option {
    padding-left: 42px;
    margin: 0;
    margin-bottom: 20px;
}

.filter-option:last-child {
    margin: 0;
}

.filter-option label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
    margin: 0;
    padding: 0;
}

.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    left: -43px;
    top: -1px;
    width: 20px;
    height: 20px;
    border: 2px solid var(--basic-black);
    border-radius: 2px;
}

.filter-input-checkbox:checked + label::after {
    content: "";
    position: absolute;
    top: 0;
    left: -41px;
    width: 17px;
    height: 16px;
    background-image: url("../img/icon-check.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-input-radio + label::before {
    content: "";
    position: absolute;
    left: -43px;
    top: -2px;
    width: 20px;
    height: 20px;
    border: 2px solid var(--basic-black);
    border-radius: 50%;
}

.filter-input-radio:checked + label::after {
    content: "";
    position: absolute;
    top: 6px;
    left: -35px;
    width: 8px;
    height: 8px;
    background-color: var(--basic-black);
    border-radius: 50%;
}

.filter-form .bluetooth-filter {
    margin: 0;
    margin-bottom: 43px;
}

.bluetooth-filter ul {
    padding: 0;
    margin: 0;
}

.bluetooth-filter-item:first-child {
    margin: 0;
    margin-bottom: 23px;
}

.filter-section label {
    font-size: 14px;
    line-height: 19px;
}

.button-submit {
    width: 200px;
    border: none;
    background-color: transparent;
}

/* Catalog Sorting */

.sorting-section-wrapper {
    position: absolute;
    height: 70px;
    width: 100%;
    background-image: linear-gradient(var(--basic-white) 700px, var(--basic-grey-light) 700px);
}

.sorting-section {
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 0;
    padding-left: 72px;
    margin-bottom: 70px;
    margin-right: 0;
    background-color: var(--basic-grey-light);
}

.sorting-section h2 {
    width: 198px;
    margin: 0;
    padding: 25px 0;
}

.sorting-section ul {
    list-style: none;
    color: var(--basic-black); 
}

.sorting-type {
    width: 500px;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    padding-left: 2px;
}

.sorting-type li {
    display: inline-block;
    vertical-align: baseline;
    margin-right: 27px;
}

.sorting-type li:last-child {
    margin-right: 0;
}

.sorting-type a:not(.sorting-type-current) {
    opacity: 0.3;
}

.sorting-type a:hover, 
.sorting-type a:focus {
    opacity: 0.6;
}

.sorting-type a:active {
    opacity: 1;
}

.sorting-type-current {
    opacity: 1;
}

.sorting-controls {
    display: flex;
    width: 53px;
    margin: 0;
    padding: 0;
    padding-left: 11px;
    box-sizing: border-box;
}

.sorting-controls-item:first-child {
    margin-right: 20px;   
    transform: rotate(180deg);
}

.sorting-controls a {
    display: block;
    width: 0;
    height: 0;
    border-top: 11px solid var(--basic-black);
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}

.sorting-controls a:not(.sorting-controls-current) {
    opacity: 0.2;
}

.sorting-controls a:hover, 
.sorting-controls a:focus {
    opacity: 0.4;
}

.sorting-controls a:active {
    opacity: 1;
}

.sorting-controls-current {
    opacity: 1;
}

/* Catalog Items */

.products-section {
    margin-right: auto;
    margin-top: 140px;
}

.product-list {
    position: relative;
    display: grid;
    grid-template-columns: 360px 360px;
    gap: 40px;
    padding: 0;
    margin: 0;
    margin-left: 72px;
    list-style: none;
}

.product-list-item {
    position: relative;
    margin-bottom: 8px;
}

.product-list-item img {
    margin-bottom: 26px;
}

.item-info {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0;
    padding: 0;
}

.item-name {
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.9px;
}

.item-price {
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.8px;
}

.item-1 {
    width: 354px;
    padding-left: 2px;
}
  
.item-1 .item-name {
    width: 285px;
}

.item-1 .item-price {
    width: 75px;
}

.item-2 .item-name {
    width: 220px;
}

.item-2 .item-price {
    margin-right: -2px;
}

.item-3 {
    padding-left: 2px;
}

.item-3 .item-name {
    width: 274px;
}

.item-3 .item-price, 
.item-4 .item-price {
    margin-right: -5px;
}
  
.item-4 .item-name {
    width: 255px;
}

/* Catalog Items Hover */

.item-hover {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    justify-content: space-between;
    text-align: center;
    width: 360px;
    height: 380px;
    padding: 172px 80px 138px;
    box-sizing: border-box;
}

.product-list-item:hover .item-hover {
    display: block;
}
  
.product-list-item:hover .product-hover-card {
    transition: 0.3s;
    opacity: 0.7;
}
  
.product-list-item:hover .add-to-comparison:hover {
    opacity: 1;
}
  
.product-list-item:hover .add-to-comparison:active {
    opacity: 0.2;
}

.add-to-comparison {
    position: relative;
    display: block;
    margin-top: 13px;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 1.3px;
    color: var(--basic-black);
    opacity: 0.5;
}

.add-to-comparison:hover, 
.add-to-comparison:focus {
    color: var(--basic-black);
    opacity: 1;
}

.add-to-comparison:active {
    color: var(--basic-black);
    opacity: 0.2;
}

.new::after {
    content: "";
    position: absolute;
    width: 62px;
    height: 62px;
    top: 29px;
    right: 27px;
    z-index: 4;
    background-image: url(../img/new.svg);
}

/* Pagination */

.pagination-section {
    display: flex;
    justify-content: space-between;
    width: 760px;
    margin: 0;
    margin-top: 32px;
    margin-bottom: 78px; 
    margin-left: 72px;
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    background-color: var(--special-light-grey);
}

.pagination-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    list-style: none;
    padding-right: 12px;
}

.pagination-list li {
    padding-right: 29px;
}

.pagination-item {
    display: flex;
    opacity: 0.3;
}

.pagination-item:hover,
.pagination-item:focus {
    opacity: 0.6;
}

.pagination-item:active {
    opacity: 1;
}

.pagination-item-current,
.pagination-item-current:hover,
.pagination-item-current:focus,
.pagination-item-current:active {
    opacity: 1;
}

.pagination-button {
    width: 120px;
    height: 70px;
    padding-top: 25px;
    padding-right: 30px;
    padding-bottom: 25px;
    padding-left: 30px;
    box-sizing: border-box;
}

.pagination-button-last {
    padding-left: 24px;
}

.pagination-button:hover,
.pagination-button:focus {
    background-color: var(--special-medium-grey);
    color: var(--basic-black);
    opacity: 0.3;
}

.pagination-button:active {
    color: var(--transparent-black-30);
}

/* Modal Map */

.modal-map {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 5;
    margin-top: -296px;
    margin-left: -497px;
    width: 994px;
    height: 593px;
    box-shadow: 0px 10px 16px var(--black-opacity-15);
    background-image: url(../img/map-big-popup.png);
}

.modal-map .modal-close-button {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 22px;
    right: 22px;
}

/* Modal Contact Us */

.modal-contact-us {
    position: fixed;
    z-index: 10;
    top: 50%;
    left: 50%;
    width: 960px;
    padding-top: 93px;
    padding-right: 100px;
    padding-bottom: 75px;
    padding-left: 100px;
    margin-top: -275px;
    margin-left: -480px;
    color: var(--basic-black);
    background-color: var(--basic-white);
    box-shadow: 0px 10px 16px var(--transparent-black-15);
    box-sizing: border-box;
}

.modal-contact-us-wrapper {
    display: flex;
    margin-bottom: 16px;
}

.modal-contact-us-wrapper div {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.contact-us-message-block {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    margin-bottom: 42px;   
}

.modal-contact-us label {
    margin-bottom: 10px;
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
}

.modal-contact-us input {
    width: 360px;
}

.modal-contact-us input,
.modal-contact-us textarea {
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-left: 20px;
    border: 2px solid transparent;
    background-color: var(--modal-input-grey);
    box-sizing: border-box;
}

.modal-contact-us textarea {   
    width: 760px;
    min-height: 167px;
    padding: 14px 19px;
    font-size: 14px;
    line-height: 19px;
    color: var(--transparent-black-40);
    border: 0;
    outline: 0;
}

.modal-contact-us input:hover,
.modal-contact-us textarea:hover {
    background-color: var(--modal-input-grey-hover);
}

.modal-contact-us input:focus,
.modal-contact-us textarea:focus {
    background-color: var(--basic-white);
    border: 2px solid var(--special-yellow-light);
    outline: none;
}

.modal-contact-us input::placeholder,
.modal-contact-us textarea::placeholder {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
}

.input-check:invalid {
    border-color: var(--status-light-pink);
    background-color: var(--status-light-pink);
}

.send-message-button {
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 34px;
    padding-right: 34px;
    background-color: transparent;
}

/* Modal Close Button */

.modal-close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 55px;
    height: 55px;
    margin: auto;
    background-color: var(--transparent-yellow-dark-50);
    border: none;
    border-radius: 50%;
}
  
.modal-close-button:hover,
.modal-close-button:focus {
    background-color: var(--special-yellow-dark);
}
  
.modal-close-button:active {
    background-color: var(--transparent-yellow-dark-30);
}
  
.modal-close-button::before,
.modal-close-button::after {
    content: "";
    position: absolute;
    top: 26px;
    left: 15px;
    width: 25px;
    height: 2px;
    background-color: var(--basic-white);
}
  
.modal-close-button::before {
    transform: rotate(45deg);
}
  
.modal-close-button::after {
    transform: rotate(-45deg);
}

/* Other */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    margin: -1px;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
