/* Fonts */

@font-face {
    font-family: "Open Sans Light";
    src: url("../fonts/opensanslight.woff2") format('woff2'),
         url("../fonts/opensanslight.woff") format('woff');
    font-weight: 300;
    font-style: normal;
}

  @font-face {
    font-family: "Open Sans";
    src: url("../fonts/opensans.woff2") format('woff2'),
         url("../fonts/opensans.woff") format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroylight.woff2") format('woff2'),
         url("../fonts/gilroylight.woff") format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy Bold";
    src: url("../fonts/gilroyextrabold.woff2") format('woff2'),
         url("../fonts/gilroyextrabold.woff") format('woff');
    font-weight: 800;
    font-style: normal;
}

/* Variables */

:root {
    --basic-black: #000000;
    --basic-dark: #363636;
    --basic-grey: #464646;
    --basic-half-grey: #7E7E7E;
    --basic-grey-light: #E5E5E5;
    --basic-white: #ffffff;
  
    --special-yellow-dark: #F0C52E;
    --special-yellow-light: #F7E296;
    --special-green: #91C92F;
    --special-grey: #DCDCDC;
    --special-light-grey: #EBEBEB;
    --special-medium-grey: #D9D9D9;

    --status-light-pink: #F6DADA;
}

:focus {
    outline: 2px solid var(--special-yellow-dark);
    box-sizing: border-box;
}

/* Global */

body {
    min-width: 1160px;
    margin: 0;
    padding: 0;
    font-family: "Open Sans Light", Arial, sans-serif;
    font-size: 15px;
    line-height: 20px;    
    color: var(--basic-black);
    background-color: var(--basic-white);
}

a {
    text-decoration: none;
    color: var(--basic-black);
}

img {
    max-width: 100%;
    height: auto;
}

/* Header */

.header {
    background-color: var(--special-yellow-light);
}

.header-navigation ul {
    list-style: none;
}

.header-logo:hover, 
.header-logo:focus {
    opacity: 0.6;
}

.header-logo:active {
    opacity: 0.3;
}

.search-form {
    width: 440px;
    height: 50px;
}

.search-form ::-webkit-input-placeholder {
    color: var(--basic-black);
    opacity: 0.3;
}

.search-form:hover ::-webkit-input-placeholder {
    color: var(--basic-black);
    opacity: 0.6;
}

.search-form ::-moz-placeholder {
    color: var(--basic-black);
    opacity: 0.3;
}

.search-form:hover ::-moz-placeholder {
    color: var(--basic-black);
    opacity: 0.6;
}

.search-form-input {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 22px;
    border: none;
    background-color: transparent;
}

.search-form-button {
    text-transform: uppercase;
    background-color: transparent;
    padding: 15px 17px 15px 17px;
    border: 2px solid var(--basic-black);
    border-radius: 0;
    box-sizing: border-box;
    visibility: hidden;
}

.search-form-input:focus + .search-form-button {
    visibility: visible;
}

.search-form-button:hover,
.search-form-button:focus {
    color: var(--basic-white);
    background-color: var(--basic-black);
    visibility: visible;
}

.search-form-button:active span {
    background-color: var(--basic-black);
    color: var(--basic-white);
    opacity: 0.3;
}

.header-navigation a:hover, 
.header-navigation a:focus {
    color: var(--basic-black);
    opacity: 0.6;
}

.header-navigation a:active {
    color: var(--basic-black);
    opacity: 0.3;
}

.header-submenu-link {
    font-family: "Gilroy Bold", Arial, sans-serif;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 3.6px;
    text-transform: uppercase;
}

.catalog {
    letter-spacing: 1.8px;
}

.catalog-list a {
    font-family: "Open Sans Light", Arial, sans-serif;
    font-size: 15px;
    line-height: 20px;
    text-transform: none;
}

/* MAIN PAGE BODY */

.main-page-body h2 {
    font-family: "Gilroy Bold", Arial, sans-serif;
    font-size: 47px;
    line-height: 58px;
    letter-spacing: 9.4px;
}

.main-page-body .slider-slogan {
    letter-spacing: normal;
}

.main-slider-section ul {
    list-style: none;
}

.main-slider-section th {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 3.6px;
}

.main-slider-section td {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 1.3px;
}

.product-categories ul {
    list-style: none;
}

.product-categories a {
    font-family: "Gilroy Bold", Arial, sans-serif;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.9px;
}

.product-categories a:active {
    opacity: 0.3;
}

.services-slider {
    background-color: var(--basic-grey-light);
}

.services-slider ul {
    list-style: none;
}

.services-slider .services-button:active {
    color: var(--special-yellow-light);
    opacity: 1;
    background-color: var(--basic-black);
}

.services-text p {
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 1.5px;
}

.brands-section ul {
    list-style: none;
}

.about-us-section p {
    line-height: 28px;
}

.about-us-section li {
    font-family: "Gilroy Bold", Arial, sans-serif;
    font-size: 16px;
    line-height: 28px;
}

.button {
    font-family: "Gilroy Bold", Arial, sans-serif;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 3.6px;
    text-transform: uppercase; 
}

/* ХОВЕР (ЖЕЛТЫЙ ФОН) СТИЛИЗУЮ ПОЗЖЕ, КОГДА ЗАЙМУСЬ ПСЕВДОЭЛЕМЕНТАМИ*/
/* .about-us-button:hover {} */

.button:focus,
.button:active {
    color: var(--basic-black);
    opacity: 0.3;
}

.contacts-section p {
    line-height: 28px;
}

/* Footer */

.footer {
    background-color: var(--basic-dark);
    width: 100%;
    color: var(--basic-white);
}

.footer-logo:hover, 
.footer-logo:focus {
    opacity: 0.6;
}

.footer-logo:active {
    opacity: 0.3;
}

.footer ul {
    list-style: none;
}

.footer-menu a {
    color: var(--basic-white);
    opacity: 0.7;
}

.footer-menu a:hover, 
.footer-menu a:focus {
    color: var(--basic-white);
}

.footer-menu a:active {
    color: var(--basic-white);
    opacity: 0.3;
}

.footer address {
    font-family: "Open Sans Light", Arial, sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 20px;
}

.footer-navigation a {
    font-family: "Gilroy Bold", Arial, sans-serif;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    color: var(--basic-white);
}  

.footer-navigation a:hover, 
.footer-navigation a:focus {
    color: var(--basic-white);
    opacity: 0.6;
}

.footer-navigation a:active {
    color: var(--basic-white);
    opacity: 0.3;
}

.footer-phone {
    font-family: "Open Sans Light", Arial, sans-serif;
    font-size: 15px;
    line-height: 20px;
    color: var(--basic-white);
}

.social-icons a {
    color: var(--basic-white);
    opacity: 0.3;
}

.social-icons a:hover, 
.social-icons a:focus {
    color: var(--basic-white);
    opacity: 0.6;
}

.social-icons a:active {
    color: var(--basic-white);
    opacity: 0.1;
}

.htmlacademy-logo {
    color: var(--special-yellow-dark);
}

.htmlacademy-logo:hover,
.htmlacademy-logo:focus {
    opacity: 0.6;
}

.htmlacademy-logo:active {
    opacity: 0.3;
}

/* MONOPODS PAGE BODY */

.monopods-page-title {
    font-family: "Gilroy Bold", Arial, sans-serif;
    font-size: 47px;
    line-height: 58px;
}

.breadcrumbs {
    list-style: none;
}

.breadcrumbs a {
    font-size: 14px;
    line-height: 19px;
    color: var(--basic-black);
    opacity: 0.3;
}

.breadcrumbs a:hover, 
.breadcrumbs a:focus {
    color: var(--basic-black);
    opacity: 0.6;
}

.breadcrumbs a:active {
    color: var(--basic-black);
    opacity: 0.1;
}

.catalog-section h2 {
    font-family: "Gilroy Bold", Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
}

.filter-title-wrapper {
    background-color: var(--special-grey);
}

.filter-section {
    background-color: var(--basic-grey-light);
}

.filter-section legend {
    font-family: "Gilroy Bold", Arial, sans-serif;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1.4px;
}

.filter-section ul {
    list-style: none;
    line-height: 19px;   
}

.price-filter span {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
}

.filter-section label {
    font-size: 14px;
    line-height: 19px;
}

.button-submit {
    border: none;
    background-color: transparent;
}

.sorting-section {
    background-color: var(--basic-grey-light);
}

.sorting-section ul {
    list-style: none;
    color: var(--basic-black); 
}

.sorting-type {
    opacity: 0.3;
}

.sorting-type:hover, 
.sorting-type:focus {
    opacity: 0.6;
}

.sorting-type:active {
    opacity: 1;
}

.sorting-controls {
    opacity: 0.2;
}

.sorting-controls:hover, 
.sorting-controls:focus {
    opacity: 0.4;
}

.sorting-controls:active {
    opacity: 1;
}

.items-list ul {
    list-style: none;
}

.item-hover { /* СКРЫЛА ХОВЕРЫ КАРТОЧЕК ТОВАРА, ПОТОМ ДОРАБОТАЕМБ СОГЛАСНО ЗАДАНИЮ */
    display: none;
}

.item-name {
    font-family: "Gilroy Bold", Arial, sans-serif;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.9px;
}

.item-price {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.8px;
}

.add-to-comparison {
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 1.3px;
    color: var(--basic-black);
    opacity: 0.5;
}

.add-to-comparison:hover, 
.add-to-comparison:focus {
    color: var(--basic-black);
}

.add-to-comparison:active {
    color: var(--basic-black);
    opacity: 0.2;
}

.pagination-section {
    background-color: var(--special-light-grey);
    font-family: "Gilroy Bold", Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
}

.pagination-list {
    list-style: none;
}

.pagination-item a {
    opacity: 0.3;
}

.pagination-item a:hover,
.pagination-item a:focus {
    opacity: 0.6;
}

.pagination-item a:active {
    opacity: 1;
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
    opacity: 1;
}

.pagination-button {
    width: 120px;
    height: 70px;
}

.pagination-button:hover,
.pagination-button:focus {
    background-color: var(--special-medium-grey);
}

.pagination-button:active span {
    opacity: 0.3;
}

/* Modal Windows */ /* ВСЕ МОДАЛЬНИКИ ВРЕМЕННО СКРЫТЫ */

.modal-map {
    display: none;
}

.modal-contact-us {
    display: none;
}

/* Other */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
